@import '../../../shared/styles/main';
@import '../../../shared/styles/variables';

h1{
  text-align:center;
  color:$titleColor;
}

.main{
  min-height:100%;
  background-color:$mainBackgroundColor;
}
